/* HowItWorkScreen.module.css */
.mainContentContainer {
  margin: 0 auto;
  background-color: #fff;
  z-index: 1;
  /* Thay đổi padding gốc từ 10rem thành 15rem */
  padding: 0 0rem;
}

.sectionTitle {
  color: #09993E !important;
  font-size: clamp(2rem, 5vw, 2.5rem) !important;
  font-weight: 700 !important;
  margin-top: 5rem !important;
  text-align: center;
}

@media (max-width: 1300px) {
  .mainContentContainer {
    /* Giảm padding để phù hợp với màn hình */
    padding: 0 5rem;
  }
}

@media (max-width: 1000px) {
  .mainContentContainer {
    /* Tiếp tục giảm padding */
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .mainContentContainer {
    /* Phù hợp cho máy tính bảng */
    padding: 0 2rem;
  }
}